.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  width: 100%;
}
body .container {
  width: 50%;
  padding: 10px;
  margin: 50px auto;
  background: #f7f7f7;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
body .container .sidebar {
  width: 25%;
  float: left;
}
body .container .sidebar .item {
  display: block;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  border: 1px solid #e1e1e8;
}
body .container .sidebar .item > div {
  height: 24px;
  line-height: 24px;
  padding-left: 30px;
}
body .container .sidebar .item.person .name {
  background: url(/Content/Images/person.png) no-repeat;
}
body .container .sidebar .item.book .name {
  background: url(/Content/Images/book.png) no-repeat;
}
body .container .info {
  width: 75%;
  float: right;
}
body .container .info ul {
  margin: 5px;
  padding: 0;
  list-style-type: none;
  border: 1px solid #e1e1e8;
}
body .container .info ul li {
  padding: 5px 10px;
  line-height: 28px;
}
body .container .info ul li span {
  font-weight: bold;
  display: inline-block;
  width: 30%;
}
body .container .info .btn {
  display: inline-block;
  padding: 5px 20px;
  margin-left: 5px;
  color: #333333;
  overflow: hidden;
  text-decoration: none;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
body .container .info input[type="text"] {
  padding: 2px;
}
